*{
padding: 0;
margin: 0;
}

#barra{
background-color: #373A3C!important;
}

#logo{
font-family: "lobster";
font-weight: 400;
font-size: 37px;
padding: 3px !important;
}

#menu{
    font-family: "cabin";
    font-weight: 400;
    font-size: 16px; 
}


h3 {
    font-family: "cabin";
    font-weight: 700;
    font-size: calc(1.3rem + .6vw)
}

.card-title1 {
    font-family: "cabin";
    font-weight: 700;
    font-size: calc(1.063rem + .38vw)}

.card-title2 {
        font-family: "cabin";
        font-weight: 700;
        font-size: calc(1.063rem + .38vw)}

.card-title3 {
        font-family: "cabin";
        font-weight: 700;
        font-size: calc(1.063rem + .38vw)}
    
.descripcion1 {
    font-family: "cabin";
    font-weight: 400;
    font-size: 16px;   
}

.descripcion2 {
    font-family: "cabin";
    font-weight: 400;
    font-size: 16px;   
}

.descripcion3 {
    font-family: "cabin";
    font-weight: 400;
    font-size: 16px;   
}
.nrecetas{
    font-family: "cabin";
    font-weight: 700;
    font-size: calc(1.5rem + 1.0vw)}

#INGREDIENTES {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(1rem + .25vw); 
}

#PREPARACIÓN {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(1rem + .25vw);    
}

#lista1 {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(1rem + .25vw); 
}

#lista2 {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(1rem + .25vw); 
}

.newstler {
    background-color: #DC3545 !important;
}

.newstler2 {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(1.1rem + .85vw); 
}


.suscribete {
    font-size: calc(1.9rem + .6vw) !important;
    font-family: "cabin";
    font-weight: 700;
    
}

#logofinal {
font-family: "lobster" !important;
font-weight: 400;
font-size: calc(1.1rem + .85vw);
}

.nombre {
    font-family: "cabin";
    font-weight: 700;
    font-size: calc(1.5rem + 1.0vw);    /* 1 rem =16px*/
}

.tyc {
    font-family: "cabin";
    font-weight: 700;
    font-size: calc(1rem + .25vw); 
}

.buttons1 {
    font-family: "cabin";
    font-weight: 400;
    font-size: calc(0.8rem + .2vw); 
}

#footer{
    background-color: #373A3C!important;
    font-family: "lobster";
    font-weight: 400;
    font-size: 37px;
    }

#botonenviar {
    width: 233px;
}


.tooltip-inner {
        max-width: 350px;}

.btn-circle {
            width: 15px !important;
            height: 15px !important;
            padding: 6px 0px;
            border-radius: 100% !important;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
            background-color: #373A3C !important;
        }

    /*buscar mx-auto o padding auto*/