body{font-family: "roboto" !important;
}

.card { margin-top: 30px;
}

.card-title {font-weight: 300 !important;
    color: #212529;
    font-size: 20px !important;

}

.empresa {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070;
}

.direccion {font-weight: 300 !important;
    font-size: 13px !important;
    color: #707070;}

    .valor{text-align: right;

    }

.precio {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070;
    display: inline-block;
    margin-right: 10px;
}

.precioofe {font-weight: 500 !important;
    font-size: 20px !important;
    color: #28A745;
    display: inline-block;
}

.newstler {font-weight: 500 !important;
    font-size: 21px !important;
    padding-top: 30px ;}

.casilla1 {margin-top: -15px !important;}

.casilla2 {margin-top: -10px !important;}

.btn-light {font-weight: 500 !important;
    font-size: 16px !important;
    color: #212529 !important;
    height: 40px;
    width: 112px;
}

.form-control {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070 !important;

}

footer p {font-weight: 300 !important;
    font-size: 16px !important;
    color: #707070;
}